.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn, .btn-pink {
  padding: 0.5em 1em;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 700;
  font-size: 0.8em;
}

.why article .icon-wordpress::before, .why article .icon-config::before, .why article .icon-plane::before, .why .accordion div h3::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: purple;
  font-size: 1.5em;
}

.btn {
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: grey;
}

.btn-pink {
  color: purple;
  border-color: purple;
}

.btn-pink:hover {
  background-color: purple;
  color: #fff;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

a {
  color: purple;
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: top;
}

h1, h3, h4 {
  text-transform: uppercase;
}

h1 {
  text-align: center;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #9336a0;
  background: -webkit-gradient(linear, left bottom, left top, from(#9336a0), color-stop(17%, #ed3135), color-stop(34%, #fc8e3c), color-stop(50%, #ea2134), color-stop(67%, #833ab4), color-stop(84%, #fd1d1d), to(#fcb045));
  background: linear-gradient(0deg, #9336a0 0%, #ed3135 17%, #fc8e3c 34%, #ea2134 50%, #833ab4 67%, #fd1d1d 84%, #fcb045 100%);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 80%;
  padding: 1em 0em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header .logo {
  width: 100px;
  height: 100px;
}

header nav a {
  color: #ffffff;
  margin: 0 0.7em;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
}

header nav a.active {
  border-bottom: 1px solid #fff;
}

header .burger {
  display: none;
}

.banner {
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25%;
  background: url("http://placehold.it/1600x1200") center no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.banner p {
  margin-bottom: 1.7em;
}

.why {
  background-color: #ffffff;
  padding: 2em 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why .accordion {
  width: 30%;
}

.why article {
  width: 30%;
}

.why article h3 {
  font-size: 0.8em;
  margin: 0;
}

.why article p {
  margin: 0 0 1.3em;
}

.why article .icon {
  padding-left: 40px;
  position: relative;
}

.why article .icon-wordpress::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f19a';
}

.why article .icon-config::before {
  font-family: "Font Awesome 5 Free";
  content: '\f013';
}

.why article .icon-plane::before {
  font-family: "Font Awesome 5 Free";
  content: '\f1d8';
}

.why .accordion {
  margin-top: 1.5em;
}

.why .accordion div {
  padding-left: 40px;
  border: 1px solid grey;
  margin-bottom: 0.8em;
}

.why .accordion div h3 {
  position: relative;
  font-size: 0.8em;
}

.why .accordion div h3::before {
  font-family: "Font Awesome 5 Free";
  content: '\f067';
  left: -20px;
  color: purple;
  font-size: 0.8em;
}

.why .accordion div p {
  display: none;
}

.why .accordion .panel-active p {
  display: block;
}

.why .accordion .panel-active h3::before {
  content: '\f068';
}

.gallery .gallery-items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery figure {
  width: 25%;
  margin: 0;
  position: relative;
}

.gallery figure:hover figcaption {
  opacity: 1;
}

.gallery figcaption {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(131, 58, 180, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gallery figcaption a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 1em;
}

.gallery .gallery-controls {
  background-color: #fff;
  padding: 2em 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .gallery-controls .gallery-filters a {
  padding: 0.5em 1em;
  color: grey;
}

.gallery .gallery-controls .gallery-filters a.active {
  color: purple;
}

.testimonials {
  background-color: #fff;
  padding: 3em 10%;
}

.testimonials h1 {
  margin: 0 0 2em;
  position: relative;
}

.testimonials h1::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: purple;
}

.testimonials hr {
  border: none;
  height: 1px;
  background-color: lightgrey;
  margin: 2em 0;
}

.testimonials .testimonial {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials .testimonial.frev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.testimonials .testimonial img {
  width: 10%;
}

.testimonials .testimonial .testimonial-content {
  width: 85%;
}

.testimonials .testimonial q {
  font-style: italic;
}

.testimonials .testimonial q::before {
  content: '';
}

.testimonials .testimonial q::after {
  content: '';
}

.testimonials .btn-pink {
  position: relative;
  left: 50%;
  bottom: -1em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}

.buy {
  color: #fff;
  background: url("http://placehold.it/1920x1080") center no-repeat;
  background-attachment: fixed;
  padding: 3em 10%;
  text-align: center;
}

.buy h1 {
  margin: 0 0 2em;
  position: relative;
}

.buy h1::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: purple;
}

.buy p {
  margin-bottom: 3em;
}

.contact {
  padding: 3em 10%;
  background-color: #ffffff;
}

.contact h1 {
  margin: 0 0 2em;
  position: relative;
}

.contact h1::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: purple;
}

.contact form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact form div {
  width: 47%;
}

.contact form label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;
}

.contact form input[type=text], .contact form input[type=email], .contact form textarea {
  display: block;
  margin-bottom: 1em;
  border: none;
  background-color: rgba(184, 184, 184, 0.4);
  width: 100%;
  height: 1.8em;
  padding: 0 0.5em;
}

.contact form textarea {
  height: 82px;
}

.contact form input[type=submit] {
  background-color: purple;
}

.contact form span {
  color: purple;
}

footer section:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  padding: 3em 10%;
  color: #fff;
}

footer section:first-child article {
  width: 30%;
}

footer section:first-child h4 {
  position: relative;
}

footer section:first-child h4::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: purple;
}

footer section:first-child label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;
}

footer section:first-child input[type=email] {
  display: block;
  margin-bottom: 1em;
  border: none;
  background-color: rgba(184, 184, 184, 0.4);
  width: 100%;
  height: 1.8em;
  color: lightgrey;
  padding-left: 1em;
}

footer section:first-child input[type=submit] {
  color: #fff;
  background: #000;
}

footer section:last-child {
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

footer section:last-child p a {
  padding: 0;
}

footer section:last-child a {
  color: #fff;
  padding: 0 1em;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  header .burger {
    display: block;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header nav a {
    margin: 1em 0;
  }
  header nav.active {
    opacity: 1;
    z-index: 10;
  }
  .why {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why article, .why .accordion {
    width: 100%;
  }
  .gallery {
    background-color: #fff;
  }
  .gallery .gallery-items figure {
    width: calc(100%/3);
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding-left: 3em;
    padding-right: 3em;
  }
  .banner h1 {
    font-size: 1.5em;
  }
  .gallery .gallery-items figure {
    width: 50%;
  }
  .gallery .gallery-controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery a {
    margin-bottom: 1em;
  }
  .testimonials .testimonial img {
    min-width: 70px;
    margin-right: 1em;
  }
  .contact form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form div {
    width: 100%;
  }
  .contact form input[type=text], .contact form input[type=email], .contact form textarea {
    width: 100%;
  }
  footer section:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer section:first-child article {
    width: 100%;
  }
  footer section:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */